.svn
CVS
dox
Linux-*
*~
setup.sh
cleanup.sh
setup.csh
cleanup.csh
*.make
*.makesav
*.lock
.gdb*
*.pyc
native_version.cmt
Makefile
*\#*
v*r*p*_history.txt
*_version.cxx
*_version.hxx
*_version_LinkDef.h
*_version.h
*.root
